* {
  outline: 0;
}
.no_cursor{
  cursor: default !important;
}
#banner_outer{
  text-align: center;
  outline: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
#banner{
  display: inline-block;
  vertical-align: baseline;
  visibility: hidden;
  background: #008;
  color: #fff;
  font-family: sans-serif;
  font-weight: normal;
  border: 1px solid #ddd;
  border-top: none;
  padding: 0px;
}
#banner_text.banner_text_hide{
  display: none;
}
#banner_text{
  display: inline-block;
  line-height: 2em;
  padding: 4px;
  padding-left: 12px;
}
#banner button{
  cursor: pointer;
  /*text-transform: uppercase;*/
  font-family: sans-serif;
  background: #008;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 12px;
  margin: 6px;
  font-weight: normal;
  border-radius: 0.4em;
}

body{
  margin: 0px;
  cursor: default;
  overflow: hidden;
}
canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
#canvas{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: none;
  cursor: crosshair;
}
.no_cursor #canvas{
    cursor: default !important;
}
#bottom{
  position: fixed;
  vertical-align: bottom;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}
#banner_outer{
  text-align: center;
  outline: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
#banner{
  display: inline-block;
  vertical-align: baseline;
  visibility: hidden;
  background: #008;
  color: #fff;
  font-family: sans-serif;
  font-weight: normal;
  border: 2px solid #ddd;
  border-top: none;
  padding: 2px;
}
#banner_text{
  line-height: 2em;
  padding: 4px 16px;
}
#banner button{
  cursor: pointer;
  /*text-transform: uppercase;*/
  font-family: sans-serif;
  background: #008;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 12px;
  margin: 6px;
  margin-left: 0px;
  font-weight: normal;
  border-radius: 0.4em;
}

#nav{
  outline: none;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #000;
  color: #fff;
  border: 2px solid rgba(255,255,255, 0.75);
  background-clip: padding-box;
  padding:0px;
  text-align: right;
}
#status{
    position: fixed;
    top: 0px;
    left: 0px;
    color: #fff;
    background: rgba(64,64,64,0.8);
    font-family: monospace;
    padding: 6px 10px;
    border-radius: 0 0 5px 0;
    font-size: 110%;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#tools {
  display: inline-block;
  border: 2px solid black;
  border-bottom: none;
  z-index: 1;
  background-color: rgba(255,255,255,0.85);
}
#tools button{
  cursor: pointer;
  /*text-transform: uppercase;*/
  font-size: 120%;
  font-family: sans-serif;
  background: none;
  color: #000;
  padding: 4px 8px;
  min-width: 40px;
  border: none;
}
#tools button#zoomtoggle{
  width: 50px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(0,32,230,0.85);
  border: 2px solid rgba(0,32,230,0.85);
  color: #fff;
  font-weight: bold;
}
#tools button#zoomtoggle.ghost{
  background: rgba(128,128,128,0.85);
  border: 2px solid rgba(128,128,128,0.85);
  font-weight: normal;
  color: #fff;
}
#tools button#zoomtoggle.no_toggle{
  background-color: rgba(255,255,255,0.85);
  border: 2px solid rgba(255,255,255,0.85);
  font-weight: normal;
  color: #888;
  border: none;
}
#tools button#erasebutton.selected{
  /*border: 2px solid black;*/
  background: #f55;
  color: black;
  font-weight: bold;
  /*background: rgba(64,64,64,0.90);*/
}
#tools button#erasebutton{
   color: #000;
   /*background: rgba(255,100,100,0.85);*/
   background: none;
   /*border: 2px solid #fff;*/
}
#tools button#toolcycle.selected{
  /*border: 2px solid black;*/
}
#tools button#linebutton{
  width: 74px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  overflow: hidden;
}
#tools button#toolcycle{
  width: 84px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  overflow: hidden;
}
#nav button{
  cursor: pointer;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  padding: 12px 16px;
  border: none;
  min-width: 30px;
}
#nav button.update_available{
  background-color: #060;
}
#nav button:focus{
  outline: 0;
}
#tools button:disabled{
  color: #aaa;
  pointer-events: none;
}
#tools button.highlight, #tools button.highlight.background{
  background-color: #f77;
  color: #000;
}
#tools button.background{
  background-color: #000;
  color: #fff;
}
#joystick{
  float: right;
  margin: 15px;
  margin-top: -45px;
  margin-bottom: 10px;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: rgba(128,128,128,0.75);
  z-index: 2;
  cursor:move;
  -webkit-box-sizing: content-box;
  box-shadow: 2px 2px 2px;
  vertical-align: bottom;
}
#colorwheel{
  line-height: 60px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin: 15px;
  margin-top: -45px;
  margin-bottom: 0px;
  float: left;
  width: 75px;
  height: 75px;
  /*border: 2px solid black;
  /*border-radius: 100%;
  border: 24px solid white;
  box-shadow: 2px 2px 2px;
  -webkit-box-sizing: content-box;
  background-color: rgba(255,255,255,0.75);*/
  cursor:move;
  z-index: 2;
}
#overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(255,255,255,0.85);
  box-sizing: border-box;
  z-index: 100;
  font-family: sans-serif;
  text-align: center;
}
#overlay_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
}
#overlay.opaque{
  background: #fff;
}
#overlay.fade{
  background: rgba(255,255,255,0.85);
}
#overlay.clear{
  background: rgba(255,255,255,0.0);
}
#prompt_input{
  font-family: sans-serif;
}

