  #embed_page { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
    background: #fff;
    font-family: sans-serif;
    font-size: larger;
    text-align: justify;
    z-index: 200;
  }
  #embed_page ul.embed_menu{
    list-style-type: none;
    padding: 0;
  }
  #embed_page ul{
    list-style-type: square;
  }
  #embed_page li{
    margin-bottom: 8px;
  }
    
  #embed_page a{
    font-family: monospace;
    color: blue;
  }
  #embed_page a:visited{
    color: blue;
  }
  #embed_page h1, #embed_page h2{
    font-family: monospace;
    color: black;
  }
  #embed_page h2{
    font-family: sans-serif;
    text-align: center;
    padding: 0.25em;
    margin-top: 2em;
  }
  #embed_page p{
    font-family: monospace;
    text-indent: 22px;
    text-align: justify;
  }
  #embed_page p.noindent{
    text-indent: 0px;
  }

  .menu{/*
     padding-top: 40px;
     padding-bottom: 40px;*/
     text-align: center;
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
  }

  .menu .menutitle{
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    margin: 0px;
    padding: 6px;
    color: #000;
    box-sizing: border-box;
  }
  .menu h1{
    /*text-transform: uppercase;*/
    padding: 5px;
    margin: 0px;
  }
  .menu h2{
    font-size: 110%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-variant: small-caps;
    padding: 6px;
    margin: 5px;
    margin-top: 8px;
    box-shadow:  0px 0px 1px;
  }
  #back{
    font-size: 100%;
    font-family: monospace;
    padding: 10px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: bold;
    background: #444;
    color: #fff;
    z-index: 999;
  }
  .menu #less , #embed_page #less,
  .menu #less_spacer , #embed_page #less_spacer,
  .menu #more , #embed_page #more {
    font-size: 100%;
    font-family: monospace;
    padding: 10px;
    margin: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: bold;
    background-color: #056;
    color: #fff;
    z-index: 999;
  }
  .menu #less_spacer, #embed_page #less_spacer {
      color: #fff;
      background: #fff;
      position: static;
  }
  .menu #less, #embed_page #less {
    top: 0px;
  }
  .menu #more, #embed_page #more {
    bottom: 0px;
  }
  .menu #more.back , #embed_page #more.back, 
  .menu #less.back , #embed_page #less.back {
    background: #444;
  }
    
  .menu .column {
    display: inline-block;
    vertical-align: top;
    min-width:160px;
  }
  
  .menu .entry.update_available,
  .menu h2.update_available
  {
    border-color:#060;
    background-color:#060;
    color: #fff;
  }
  .menu .entry{
    border-radius: 3px;
    margin: 5px;
    display: block;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 120%;
    background-color: #000;
    color: #fff;
    padding: 4px 12px;
    min-width: 100px;
    font-weight: bold;
    border: none;
    text-align: center;
  }
  .menu .entry.background{
    border-radius: 3px;
    box-sizing: border-box;
    background: #000;
    border: 2px solid #222;
    padding: 2px 12px;
    color: #fff;
  }
  .menu .entry.foreground{
    border-radius: 3px;
    border: 2px solid black;
    box-sizing: border-box;
    background: #fff;
    padding: 2px 12px;
    color: #000;
  }
  .menu .entry.disabled{
    pointer-events: none;
    background-color: #aaa;
  }
