
.modal{
    position: fixed;
    font-family: sans-serif;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    -webkit-user-select: none;
}
.modal .modal_inner{
    line-height: 1.8;
    text-align: center;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    display:inline-block;
    background-color: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 30px;
    font-size: 120%;
    color: #fff;
}
.modal button, .modal input{
   outline: none;
   display: inline-block;
   background: #fff;
   color: #000;
   border-radius: 10px;
   padding: 5px;
   font-size: 110%;
   border: none;
   margin: 5px;
   min-width: 80px;
   text-align: center;
}
.modal button:active{
   background: #888;
}
.modal button:focus{
   background: #aaa;
}
